<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Editing post</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
